@import '../assets/styles/_functions';

:global(.CircularProgressbar-path) {
  stroke: red;
}
:global(.CircularProgressbar-trail) {
  stroke: gray;
}
:global(.CircularProgressbar-text) {
  fill: yellow;
}
:global(.CircularProgressbar-background) {
  fill: green;
}

.ringProgress {
  position: relative;
  width: 300px;
  height: 300px;
  @include desktop {
    width: 400px;
    height: 400px;
  }
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  span {
    color: var(--labels);
    font-size: 1.2rem;

    @include desktop {
      font-size: 2rem;
    }
  }
}

.ringWrapper {
  position: absolute;
  width: 300px;
  height: 300px;
  @include desktop {
    width: 400px;
    height: 400px;
  }
  &:nth-child(1) {
    z-index: 0;
  }
  &:nth-child(2) {
    z-index: 1;
  }
  &:nth-child(3) {
    z-index: 3;
  }
}
