@import '_colors';
@import '_functions';
@import '_measures';
@import '_text';
@import '_custom';

body.sustainability {
  background-color: var(--sustainability);
}
body.privacy {
  background-color: var(--privacy);
}
body.transparency {
  background-color: var(--transparency);
}
body.inclusivity {
  background-color: var(--inclusivity);
}
body.governance {
  background-color: var(--governance);
}
body.accountability {
  background-color: var(--accountability);
}

.container {
  max-width: 1512px;
}

textarea {
  width: 100%;
  border: 1px solid var(--button-secondary-border);
  border-radius: 20px;
  height: 174px;
  padding: var(--sp-4);
  resize: none;
  outline: none !important;
}

textarea:focus {
  border: 1px solid var(--question-option-selected-border);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.alert {
  padding: 0;
  padding-left: var(--sp-3);
  border-left: 2px solid var(--error);
  border-radius: 0;
  margin-top: var(--sp-3);
  margin-bottom: var(--sp-2);
  color: var(--error);
  font-size: 1rem;
}

.custom-checkbox,
input[type='checkbox'] {
  width: 30px;
  height: 30px;
  display: inline-block;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border-radius: 20px;
  width: 100%;
  min-height: 50px;
  padding: var(--sp-2) var(--sp-3);
  border: 1px solid var(--button-secondary-border);
}
