@import '../../assets/styles/_functions';

.content {
  padding-top: var(--sp-6);
  @include desktop {
    width: 548px;
    margin-left: auto;
    left: unset;
    padding-top: 0;
    padding-bottom: var(--sp-6);
    position: absolute;
    bottom: 0;
    left: var(--sp-3);
    right: var(--sp-3);
  }
}
.loadingWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
