@import '../assets/styles/_colors';

.topbar {
  height: var(--navbar-height);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 10;

  .wrapper {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;

    .logo {
      flex-shrink: 0;
    }

    .navbar {
      flex: 1;
    }
  }
  @include sectionBg;
}
